<form [formGroup]="userForm" (submit)="create()" novalidate>
    <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Name"
        formControlName="name" [class.is-invalid]="userForm.controls.name.invalid">
        <div class="invalid-feedback">
          Please choose a name
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputLogin">login</label>
            <input type="text" class="form-control" id="inputLogin"  placeholder="login"
            formControlName="login" [class.is-invalid]="userForm.controls.login.invalid">
            <div class="invalid-feedback">
              Please choose a username
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword">password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="password"
            formControlName="password" [class.is-invalid]="userForm.controls.password.invalid">
            <div class="invalid-feedback">
              Please choose a password
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputRoles">roles</label>
        <select class="custom-select custom-select-sm" multiple formControlName="roles" id="inputRoles">
          <option value="standard">standard</option>
          <option value="admin">admin</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid || sending">{{ sending ? 'Sending' : 'Create'}}</button>
</form>